/* Body */
body, html {
	font-family: 'RobotoMedium';
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	-ms-overflow-style: none;  
  	scrollbar-width: none;  
}
 

/* Anchor tag */
a {
	color: #ffffff;
	font-weight: 400;
}

a:hover, a:focus {
	text-decoration: none;
	color: #ffffff;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Unorder list */
ul, ol {
	list-style: none;
}

ul, ol {
	padding: 0;
}

/* Menu */
#menu {
	padding: 15px;
	transition: all 0.8s;
}

#menu.navbar-default {
	position: relative;
    background: #001835;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
}
 
#menu a.navbar-brand {
    font-family: RobotoBold;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#menu.navbar-default .navbar-nav > li > a {
	font-family: 'RobotoMedium';
	color: #555;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 0px 8px 0 10px;
}

#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: #ffffff;
	content: "";
	transition: width 0.2s;
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}

/* Navigation */
.nav-link {
    color: #ffffff;
}

.dropdown-toggle {
	color: white !important;
}

.dropdown-arrow {
	width: 10px;
	margin-left: 5px;
}

.dropdown-item {
	display: block;
    width: 100%;
    padding: 1.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.header-dropdown-links > a {
	color: black;
}

.header-title {
	letter-spacing: 1px;
	font-size: 30px;
	text-shadow: 2px 2px black;
}

.dropdown-item:hover {
	background-color: lightgray;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}

.homeContent {
	background: #f6f6f6;
    width: 100%;
}

.homeContent h2 {
	text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
	position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.jumbotron-content {
	color: black;
}

.yang-taiji-list {
	left: 12% !important;
}
.benefits-list {
	list-style-type: disc;
	font-size: 20px;
}

/* Header 2 */
.header2 {
	line-height: 1.1em;
    font-size: 38px;
    margin-top: 39px;
    position: relative;
    left: 10%;
	display: inline-block;
}

.TaijiQuan {
	margin: 0px 0px 15px 0px !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    position: relative;
    padding-bottom: 15px;
}

.toLowerCase {
	text-transform: none !important;
}

.toLowerCase span {
	font-size: 18px !important;
}
/* Home Title */
.HomeTitle {
    color: #3b4455;
    font-size: 22px;
	font-family: RobotoBold;
}

.homeText {
	position: relative;
    left: 10%;
    width: 80%;
	line-height: 30px;
    font-size: 18px !important;
	color: #667287;
    letter-spacing: 0.01em;
}

/* Home horizontal line */
.homeHorizontalLine {
	position: absolute;
    content: "";
	width: 100%;
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 2px;
    bottom: 0;
}

.container {
	width: 100%;
   padding: 0 30px !important;
}

.container:before {
	content: unset !important;
}
 
@media screen and (max-width: 760px) {
	.navbar-header{
		display: flex;
		flex-direction: row-reverse;
		height: 80px;
	}

	#menu a.navbar-brand{
		font-size: 20px;
	}

	.header-title {
		font-size: 18px;
	}
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar-nav {
	padding: 7px 15px;
}