/* Body */
body, html {
	font-family: 'Lato', sans-serif;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

/* Anchor tag */
a {
	color: #ffffff;
	font-weight: 400;
}

a:hover, a:focus {
	text-decoration: none;
	color: #ffffff;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Unorder list */
ul, ol {
	list-style: none;
}

ul, ol {
	padding: 0;
}

/* Menu */
#menu {
	padding: 15px;
	transition: all 0.8s;
}

#menu.navbar-default {
	position: relative;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50)
}

#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	width: 100%;
    text-align: center;
	margin-bottom: 15px;
}

#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 0px 8px 0 10px;
}

#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	/* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
	background: #ffffff;
	content: "";
	transition: width 0.2s;
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}

/* Navigation */
.nav-link {
    color: #ffffff;
}

.dropdown-toggle {
	color: white !important;
}

.dropdown-arrow {
	width: 10px;
	margin-left: 5px;
}

.dropdown-item {
	display: block;
    width: 100%;
    padding: 1.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
	background-color: lightgray;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}

.homeContent {
	background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    width: 100%;
    height: 460px;
}

/* Header 2 */
.header2 {
	line-height: 1.1em;
    font-size: 38px;
    margin-top: 39px;
    position: relative;
    left: 10%;
	display: inline-block;
}

/* Home Title */
.HomeTitle {
	color: white;
	font-family: Arial,Helvetica,sans-serif;
}

.homeText {
	position: relative;
    left: 10%;
    color: white;
    width: 80%;
	line-height: 30px;
    font-size: 18px;
	margin-bottom: 30px;
}

/* Home horizontal line */
.homeHorizontalLine {
	width: 100%;
    border-bottom-style: solid;
    margin: 5px 0;
    border-bottom-color: rgb(166, 148, 148);
    border-bottom-width: 2px;
}

.container {
	width: 100%;
   padding: 0 30px !important;
}

.container:before {
	content: unset !important;
}

.navbar-header {
	width: 100%;
}

@media screen and (max-width: 760px) {
	.navbar-header{
		display: flex;
		flex-direction: row-reverse;
	}

	#menu a.navbar-brand{
		font-size: 20px;
	}
}