@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Sacramento&display=swap');
/* Body */
body, html {
    font-family: 'Ubuntu', sans-serif;
	/*font-family: 'RobotoMedium';*/
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
 

/* Anchor tag */
a {
    color: #212529;
	font-weight: 400;
}

a:hover, a:focus {
	text-decoration: none;
    color: #212529;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Unorder list */
ul, ol {
	list-style: none;
}

ul, ol {
	padding: 0;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #b2bec3;
    padding: 5px;
    margin: 5px;
    width: 300px;
    transition: border 0.3s ease-in;
}

input:focus {
    border-bottom: 1px solid #1dd1a1;
}

textarea {
    outline: none;
    border: 1px solid #b2bec3;
    width: 300px;
    padding: 5px;
    margin: 10px;

}

textarea:focus {
    transition: border 0.3s ease-in;
    border: 1px solid #1dd1a1
}

/* Menu */
#menu {
	padding: 15px;
	transition: all 0.8s;
}

#menu.navbar-default {
	position: relative;
    background: #001835;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
}
 
#menu a.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#menu.navbar-default .navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff !important;
    padding: 0 !important;
    text-align: center;
    display: inline-block;
    height: 40px;
	margin: 0px 8px 0 10px;
}

.navbar-nav .nav-item {
    margin: 10px;
}
.navbar-brand {
    height: 55px;
}
 
a.header-links:hover { 
    border-bottom: 2px solid #FC5185;
    transition: 2px 0.6s linear;
}

.active {
    border-bottom: 2px solid #FC5185;
}

.dropdown-toggle.nav-link:hover {
    border-bottom: 2px solid #FC5185;
}

.header-dropdown-links.active {
    padding-bottom: 5px;
    display: block;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #ff6358 !important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover > a{
    color: #ffffff !important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover > a.active{
    border-bottom: 2px solid #ffffff;
}

/* Navigation */
.nav-link {
    color: #ffffff;
}

.dropdown-toggle {
	color: white !important;
}

.dropdown-arrow {
	width: 10px;
	margin-left: 5px;
}

.dropdown-item {
	display: block;
    width: 100%;
    padding: 1.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.header-dropdown-links > a {
	color: black;
}

.header-title {
	letter-spacing: 1px;
	font-size: 30px;
	text-shadow: 2px 2px black;
}

.dropdown-item:hover {
	background-color: lightgray;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}

.homeContent {
	background: #f6f6f6;
    width: 100%;
}

.homeContent h2 {
	text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
	position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    left: 10%;
}
.jumbotron-content {
	color: black;
}

.contact-us h3, .contact-us-card {
    line-height: 30px;
    font-size: 18px !important;
    color: #667287;
    letter-spacing: 0.01em;
	padding-left: 35px;
}

.contact-us-card {
	border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
    margin-top: 24px;
    box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%), 0 12px 90px 0 rgb(103 151 255 / 11%);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 30%;
	padding-left: 30px;
}

.contact-us-photo {
	width: 50%;
}

.cardWrapper {
	display: flex;
    justify-content: space-around;
}

.contact-us-card .AddressHeader {
	font-family: cursive;
    color: #3498db;
    font-weight: 900;
    font-size: 20px;
}

.yang-taiji-list {
	left: 12% !important;
}
.benefits-list {
	list-style-type: disc;
	font-size: 20px;
}

.testimonials-container {
	margin: 15px;
}

.testimonials-container .display-3 {
	font-size: 55px;
	color: black;
}

.testimonials-body {
	color: black;
}

/* Header 2 */
.header2 {
	line-height: 1.1em;
    font-size: 38px;
    margin-top: 39px;
    position: relative;
    left: 10%;
	display: inline-block;
}

.TaijiQuan {
	margin: 0px 0px 15px 0px !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    position: relative;
    padding-bottom: 15px;
}

.toLowerCase {
	text-transform: none !important;
}

.toLowerCase span {
	font-size: 18px !important;
}
/* Home Title */
.HomeTitle {
    color: #3b4455;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.homeText {
	position: relative;
    left: 10%;
    width: 80%;
	line-height: 30px;
    font-size: 18px !important;
	color: #667287;
    letter-spacing: 0.01em;
}

/* Home horizontal line */
.homeHorizontalLine {
	position: absolute;
    content: "";
	width: 100%;
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 2px;
    bottom: 0;
}

.container {
	width: 100%;
   padding: 0 30px !important;
}

.container:before {
	content: unset !important;
}
 
@media screen and (max-width: 760px) {
	.navbar-header{
		display: flex;
		flex-direction: row-reverse;
		height: 80px;
	}

	#menu a.navbar-brand{
		font-size: 20px;
	}

	.header-title {
		font-size: 18px;
	}
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar-nav {
	padding: 7px 15px;
}

.img-responsive {
    height: 300px !important;
    margin-bottom: 20px;
    width: 450px;
	transition: all 0.3s;
    transform: scale(1);
}

 .portfolio-item:hover .img-responsive {
	transform: scale(1.1);
  } 

  .breadcrumbs {
	  display: flex;
	  margin: 10px;
  }

  .breadcrumbs .breadcrumbsContent:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}
.breadcrumbsContent a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;

	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-weight: 500;
}

.breadcrumbsContent:nth-child(even) a {
    background-color: #2980b9;
}

.breadcrumbsContent a:before, .breadcrumbsContent a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 15px 10px;
    width: 0;
    height: 0;

}

.breadcrumbsContent a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

.breadcrumbsContent a:before {
    left: -20px;
    border-left-color: transparent;
}

.breadcrumbsContent:first-child a:before {
    border: none;
}

.breadcrumbsContent:nth-child(even) a:before {
    border-color: #2980b9;
    border-left-color: transparent;
}

.breadcrumbsContent:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

.breadcrumbsContent:last-child a:after {
    border: none;
}

.breadcrumbsContent a:hover {
    background-color: #1abc9c;
}
.breadcrumbsContent a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}

.breadcrumbsContent a:hover:after {
    border-left-color: #1abc9c;
}

.homeIcon {
	height: 20px;
    width: 20px;
    background-repeat: no-repeat;
	margin-top: 4px;
}

.jumbotron {
    padding-top: 10px !important;
}

.jumbotron p, .jumbotron ul {
    line-height: 30px;
    font-size: 18px !important;
    color: #667287;
    letter-spacing: 0.01em;
}

.jumbotron h1 {
    color: #667287 !important;
    letter-spacing: 0.01em;
    font-weight: 600;
}

.Homeicon, .TestimonialsIcon {
    width: 28px !important;
    height: 28px !important;
    margin: 0;
    float: left;
    display: inline-block;
}

.IconText {
        padding-top: 7px;
        float: left;
        width: auto;
        padding-left: 5px;
}

 
.dropdown-toggle.nav-link {
    display: flex !important;
}

.submit-btn {
    padding: 10px 30px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #001835;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s ease-in;
}

.submit-btn:hover {
    box-shadow: 0px 2px 10px #001835;
}

.view-gallery-button {
    text-align: center;
    margin-top: 3rem;
}

.view-gallery-button > a {
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #001835;
    transition: 0.2s ease-in;
}

.view-gallery-button > a:hover {
    box-shadow: 0px 2px 10px #001835;
}

.fa, .fas {
    font-weight: 900;
    padding: 0px 5px;
}

.swal2-styled.swal2-confirm {
    font-size: 1.5em !important;
}

.swal2-title {
    font-size: 2.875em !important;
}

.swal2-html-container {
    font-size: 2em !important;
}

